---
name: lint

on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [trunk]

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    env:
      SKIP: hadolint # Run Hadolint separately due to GitHub Actions runner weirdness.
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
      - uses: pre-commit/action@v3.0.1
  hadolint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: hadolint/hadolint-action@v3.1.0
        with:
          recursive: true # Required to prevent failure when there are no Dockerfiles in the root directory.
